<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class = "container-form-ext">
      <h1>Make a bookmark for <%= @list.name %></h1>
      <%= simple_form_for [@list, @bookmark] do |f|   %>
        <%= f.input :comment %>
        <%= f.association :movie, collection: Movie.all(), input_html: {class: 'form-select', id: 'dropdown-choice-select'} %>
        <%= f.button :submit, "Submit", class: "btn-purple"  %>
      <% end %>
      <%= link_to 'Back', list_path(@list) %>
    </div>
  </div>
</div>
