<div class="row justify-content-md-center">
  <div class="col col-md-6 col-lg-6">
    <div class = "container-form-ext">
      <h1>Make a bookmark for <%= @list.name %></h1>
      <%= simple_form_for [@list, @bookmark] do |f|   %>
        <%= f.input :comment %>
        <%= f.association :movie %>

        <%= f.submit %>
      <% end %>
      <%= link_to 'Back', list_path(@list) %>
    </div>
  </div>
</div>
