<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/peppyicons-rounded/512/clapper-2-512.png"/>
  </head>

  <body style ="background-color: white">
    <div >
      <%= render "shared/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
